@model CarDealer.Models.Car

<div class="container">
    <div class="jumbotron">
        <h2>@Model.Title</h2>
    </div>
</div>


<div class="row">

    <div class="col-sm-6">
        <img class="thumbnail HoverDiv" alt="@Model.Title" style="width:100%" src="@Model.PhotoUrl" />
    </div>

    <div class="col-sm-6">
        
        <div class="caption-full">

            <!--CENA!!!-->

            <p>@Model.Description</p>

        </div>
    </div>

</div>

