@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!--TEGO BRAKOWAŁO, ŻEBY BOOTSTRAP ZACZĄŁ DZIALAĆ-->
    <!--zob. https://stackoverflow.com/questions/40794617/cant-load-bootstrap-glyphicon-fonts-on-mvc-net-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!--PLUS ELEMENTY Z BOOTSTRAPA 4:-->
    <!--zob. https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->


    <title>@ViewBag.Title</title>

</head>

<body>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <!--KOMIS SAMOCHODOWY-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Komis samochodowy</a>
            </div>

            <!--PODSTRONY: HOME, OPINIE-->
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Car" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Opinion" asp-action="Index">Opinie</a></li>
                </ul>                
            }
            else
            {
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Opinion" asp-action="Index">Opinie</a></li>
                </ul>
            }
                       
            

            <!--ZALOGUJ, ZAREJESTRUJ / WYLOGUJ-->
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-log-out"></span> Wyloguj
                            </a>
                        </li>
                    </ul>
                </form>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="registerLink" asp-controller="Account" asp-action="Register">
                            <span class="glyphicon glyphicon-user"></span> Rejestracja
                        </a>
                    </li>
                    <li>
                        <a id="loginLink" asp-controller="Account" asp-action="Login">
                            <span class="glyphicon glyphicon-log-in"></span> Logowanie
                        </a>
                    </li>
                </ul>

            }

        </div>
    </nav>

         
    
    <div class="container body-content" >
        <div class="row" >
            @RenderBody()
        </div>
    </div>
</body>
</html>
