@model LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">

    <div class="col-sm-12">

        <h2>
            Przed skontaktowaniem się z nami, zarejestruj się lub <a asp-action="Login" asp-controller="Account">zaloguj!</a>
        </h2>

    </div>

    <div class="col-sm-6">

        <form asp-action="Register" asp-controller="Account" method="post" class="was-validated" role="form">

            <div class="form-group">
                <label asp-for="UserName">Nazwa użytkownika:</label>
                <input asp-for="UserName" type="text" class="form-control" placeholder="Wpisz nazwę użytkownika" required>
                <div asp-validation-for="UserName" class="valid-feedback">OK.</div>
                <div asp-validation-for="UserName" class="invalid-feedback">Niepoprawna nazwa użytkownika.</div>
            </div>

            <div class="form-group">
                <label asp-for="Password">Hasło:</label>
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Wpisz hasło" required>
                <div asp-validation-for="Password" class="valid-feedback">OK.</div>
                <div asp-validation-for="Password" class="invalid-feedback">Niepoprawne hasło.</div>
            </div>


            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>

    </div>

    <div class="col-sm-6">

    </div>

</div>

